SALESDRIVE_BASE_URL=https://petrenko.salesdrive.me
SALESDRIVE_API_KEY=replace_me
SALESDRIVE_TIMEOUT_SECONDS=30
SALESDRIVE_PAGE_LIMIT=100
SALESDRIVE_RATE_LIMIT_RETRY_SECONDS=65
SALESDRIVE_RATE_LIMIT_MAX_RETRIES=2
